body{
	background-color: #010000;
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 0px;
	margin: 0px;
}
.Content{
	display: flex;
	position: relative;
	flex-direction: row;
	width: auto;
	height: auto;
	top: 10px;
	margin-left: 37px;

}
.logo img {
	justify-content: center;
	align-items: center;
	float: left;
	background-position: center;
	height: 38px;
	margin-right: 40px;
}
.menu ul {
	bottom: 0px;
	float: left;
	justify-content: center;
	display: inline-flex;
	width: auto;
	list-style: none;
}
.menu ul li{
	bottom: 0px;
	margin-right: 32px;
	font-family: Lato;
	position: relative;
}

.menu ul li a{
	color: rgb(255,255,255,0.3);
	text-decoration: none;
	font-family: Lato;
}

.menu ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background-color: #fff;
	position: absolute;
	left: 0px;
	bottom: -10px;
	transition: 0.5s;
}

.menu ul li a:hover{
	color: #fff;
	font-size: 18px;
	transition: 0.5s;
}

.menu ul li:hover::after{
	width: 100%;
} 

.contact-us-button button{
	position: absolute;
	left: 90%;
	bottom: 00%;
	background-color: #fff;
	color: #000;
	font-size: 12px;
	font-family: Barlow;
	font-weight: 500;
	letter-spacing: 22;
	border-radius: 5px;
	border-color: transparent;
	opacity: 0.84;
	width: 80px;
	height: 22px;

}

.contact-us-button button:hover{
	opacity: 1;
}


.bg-img img{
	position: fixed;
	float: right;
	right: 0%;
	bottom: 0%;
	width: 60%;
	z-index: -1;
}

.content-body {
	width: auto;
	height: auto;
	margin-left: 40px;
	margin-top: 40px;
}

.content-body h3{
	color: #fff;
	font-family: "Lato";
	font-weight: bold;
	font-size: 50px;
}

.content-body p{
	color: #fff;
	margin-left: 20px;
	margin-top: -30px;
	font-family: "Lato";
	font-weight: 100;
	font-size: 18px;
	opacity: 0.7;
	width: 40%;
	line-height: 30px;
}

.content-body p:hover{
	opacity: 1;
	font-weight: 500;
}

.buttons{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-left: 100px; 
}

button{
	width: 120px;
	height: 38px;
	border-radius: 100px;
	border: 2.5px solid #fff;
	color: #fff;
	font-family: Yu Gothic;
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	margin-right: 40px; 
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: #fff;
	height: 100%;
	width: 0%;
	border-radius: 100px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}

button:hover{
	color: #000;
	border: none;
}

.index-menu-circle {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 20px;
	top: 35%;
	bottom: 35%;
}
.index-menu-circle ul li{
	height: 10px;
	width: 10px;
	background-color:transparent;
	list-style: none;
	margin-top: 15px;
	border-radius: 10px;
	border: 1.5px solid #fff;
}

.index-menu-circle ul li:nth-child(2){
	height: 10px;
	width: 10px;
	background-color:#fff;
	margin-top: 15px;
	border-radius: 10px;
	border: 1.5px solid #fff;
}

.index-menu-circle ul li:hover{
	background-color: #fff;
}