body{
	display: flex;
	flex-direction: column;
	background-color: #010000;
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 0px;
	margin: 0px;
}
.Content{
	flex: 1;
	order: 1;
	display: flex;
	position: relative;
	flex-direction: row;
	width: auto;
	height: auto;
	top: 10px;
	margin-left: 37px;

}

.logo img {
	justify-content: center;
	align-items: center;
	float: left;
	background-position: center;
	height: 38px;
	margin-right: 40px;
}
.menu ul {
	bottom: 0px;
	float: left;
	justify-content: center;
	display: inline-flex;
	width: auto;
	list-style: none;
}
.menu ul li{
	bottom: 0px;
	margin-right: 32px;
	font-family: Lato;
	position: relative;
}


.menu ul li a{
	color: rgb(255,255,255,0.3);
	text-decoration: none;
	font-family: Lato;
}

.menu ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background-color: #fff;
	position: absolute;
	left: 0px;
	bottom: -10px;
	transition: 0.5s;
}

.menu ul li a:hover{
	color: #fff;
	font-size: 18px;
	transition: 0.5s;
}

.menu ul li:hover::after{
	width: 100%;
} 

.contact-us-button button{
	position: absolute;
	left: 90%;
	bottom: 00%;
	background-color: #fff;
	color: #000;
	font-size: 12px;
	font-family: Barlow;
	font-weight: 500;
	letter-spacing: 22;
	border-radius: 5px;
	border-color: transparent;
	opacity: 0.84;
	width: 80px;
	height: 22px;

}

.contact-us-button button:hover{
	opacity: 1;
}

section{
	position: relative;
	margin: 5% 0px;
	flex: 2;
	order: 2;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}

.image1{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-self: center;
	align-items: center;
	flex: 1;
	order: 1;
	width: 50px;
	height: auto;
	margin: auto;
}

.image1 p{
	position: absolute;
	width: 10px;
	height: auto;
	float: left;
	font-family: ADAM.CG PRO;
	font-size: 90px;
	color: #fff;
	opacity: 1;
	justify-content: center;
	text-align: center;
	align-self: center;
	align-items: center;

}
.sss1{
	flex: 2;
	order: 2;
	width: auto;
	height: auto;
	align-content: flex-start;
	justify-content: flex-start;
}
.titles{
	display: flex;
	flex-direction: column;
	flex-basis: 27%;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-around;
	width: auto;
	height: auto;
}

.titles .Creativity{
	float: left;
	color: #fff;
	font-size: 100px;
	font-family: Yu Gothic;
	font-weight: bold;

}
.titles .Never-end{
	margin-top: -40px;
	color: #fff;
	font-size: 60px;
	font-family: Museo Sans Display;
	font-weight: lighter;

}

.idioms {
	width: auto;
	padding-right: 10px; 
	font-family: Lato Regular;
	font-size: 20px;
	font-style: italic;
	text-align: left;
	color: #CFCFCF;
	opacity: 0.89;
}
.idioms:hover{
	font-size: 24px;
	color: #fff;
	opacity: 1;
}

.author{
	width: auto;
	padding-right: 16px;
	font-size: 14px;
	font-style: italic;
	text-align: left;
	color: #CFCFCF;
	opacity: 0.89;
	margin-top: -10px;
	margin-left: 16px;
	margin-bottom: 40px;
}
.buttons{
	display: flex;
	flex-direction: row;
	margin-top: 30px; 
}

button{
	width: 150px;
	height: 43px;
	border-radius: 100px;
	border: 2.5px solid #fff;
	color: #fff;
	font-family: Yu Gothic;
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	margin-right: 40px; 
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: #fff;
	height: 100%;
	width: 0%;
	border-radius: 100px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}

button:hover{
	color: #000;
	border: none;
}

.butterfly-img{
	flex: 3;
	order: 3;
	align-content: flex-start;
	justify-content: flex-start;
}

.butterfly-img img{
	width:80%;
}

.creater p{
	position: absolute;
	left: 07px;
	bottom: -5px;
	font-size: 10px;
	font-family: Yu Gothic;
	color: #727272;

}

.creater a{
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
	opacity: 0.5;
}

.social-media {
	display: inline-flex;
	position: absolute;
	bottom: 10px;
	right: 20px;
	
}

.social-media img{
	width: 16px;
	height: 16px;
	margin-left: 15px;
	opacity: 0.5;
}

.index-menu-circle {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 20px;
	top: 35%;
	bottom: 35%;
}
.index-menu-circle ul li{
	height: 10px;
	width: 10px;
	background-color:transparent;
	list-style: none;
	margin-top: 15px;
	border-radius: 10px;
	border: 1.5px solid #fff;
}

.index-menu-circle ul li:nth-child(1){
	height: 10px;
	width: 10px;
	background-color:#fff;
	margin-top: 15px;
	border-radius: 10px;
	border: 1.5px solid #fff;
}

.index-menu-circle ul li:hover{
	background-color: #fff;
}